#body-div.menu-toggled > #menu {
  pointer-events: all; 
  cursor: pointer;
}

#body-div.menu-toggled > #menu > #menu-toggle > span:first-of-type {
  cursor: pointer;
  background-color: black;
  transform: translate3d(0px, 8px, 0px) rotate(45deg);
}

#body-div.menu-toggled > #menu > #menu-toggle > span:nth-of-type(2) {
  opacity: 0;
  transform: translate3d(-5px, 0px, 0px);
}

#body-div.menu-toggled > #menu > #menu-toggle > span:nth-of-type(3) {
  cursor: pointer;
  background-color: black;
  transform: translate3d(0px, -8px, 0px) rotate(-45deg);
}

#body-div.menu-toggled > #menu > #menu-toggle > #menu-toggle-label > .word {
  cursor: pointer;
  opacity: 0;
  transform: translate3d(-30%, 0px, 0px) skew(20deg) scaleX(1.2);  
  transition: opacity 250ms cubic-bezier(.71, .19, .87, .33), 
    transform 250ms cubic-bezier(.71, .19, .87, .33);
}

#body-div.menu-toggled > #menu > #menu-toggle > #menu-toggle-label > .word:nth-of-type(2) {
  transition-delay: 100ms;
}

#body-div.menu-toggled > #menu > #menu-gradient {
  cursor: pointer;
  height: 200vmax;
  opacity: 1;
  transform: translate3d(-50%, -50%, 0px);
  transition: height 600ms cubic-bezier(.58, .2, .62, .93), 
    width 600ms cubic-bezier(.58, .2, .62, .93), 
    transform 600ms cubic-bezier(.58, .2, .62, .93), 
    opacity 400ms;
  width: 200vmax;
}

#body-div.menu-toggled > #menu > #menu-gradient-blur {
  opacity: 1; 
  cursor: pointer;
}

#body-div.menu-toggled > #menu > #menu-arcs-wrapper {
  opacity: 1;
  transform: scale(1);
  transition: transform 600ms cubic-bezier(.16, .68, .25, .83), 
    opacity 600ms cubic-bezier(.87, .12, .92, .39); 
}

#body-div.menu-toggled > #menu > #menu-links > .link {  
  opacity: 1;
  transform: none;
  transition: opacity 600ms ease-in;  
}

#body-div.menu-toggled > #menu > #menu-links > .link:nth-of-type(2) {
  transition-delay: 100ms;
}

#body-div.menu-toggled > #menu > #menu-links > .link:nth-of-type(3) {
  transition-delay: 150ms;
}

#body-div.menu-toggled > #menu > #menu-links > .link:nth-of-type(4) {
  transition-delay: 250ms;
}
#body-div.menu-toggled > #menu > #menu-links > .link:nth-of-type(5) {
  transition-delay: 300ms;
}

#body-div.menu-toggled > #menu > #menu-links > .link:nth-of-type(6) {
  transition-delay: 350ms;
}

#body-div.menu-toggled > #menu > #menu-links > .link:nth-of-type(7) {
  transition-delay: 400ms;
}

#body-div.menu-toggled > #menu > #menu-links > .link:nth-of-type(8) {
  transition-delay: 450ms;
}

#body-div.menu-toggled > #menu > #menu-links > .link:nth-of-type(9) {
  transition-delay: 500ms;
}




#menu > #menu-toggle:hover > span:nth-of-type(2),
#menu > #menu-toggle:hover > span:nth-of-type(3){
  transform: translate3d(0px, 0px, 0px);
}


#menu > #menu-toggle > span:nth-of-type(2) {
  transform: translate3d(6px, 0px, 0px);
}

#menu > #menu-toggle > span:nth-of-type(3) {
  transform: translate3d(-2px, 0px, 0px);
}

#menu > #menu-toggle > span:nth-of-type(5) {
  transform: translate3d(-2px, 0px, 0px);
}

#menu > #menu-toggle > span:nth-of-type(6) {
  transform: translate3d(-2px, 0px, 0px);
}

#menu > #menu-toggle > span:nth-of-type(7) {
  transform: translate3d(-2px, 0px, 0px);
}

#menu > #menu-toggle > span:nth-of-type(8) {
  transform: translate3d(-2px, 0px, 0px);
}

#menu > #menu-toggle > span:nth-of-type(9) {
  transform: translate3d(-2px, 0px, 0px);
}

#menu > #menu-toggle > #menu-toggle-label {
  transform: translate3d(100%, 0px, 0px);
}

#menu > #menu-toggle > #menu-toggle-label > .word {
  font-family: D-DIN, cursive;
  font-size: 1.5em;
  transition: opacity 250ms, transform 250ms;
}

#menu > #menu-gradient {
  background: radial-gradient(
    var(--background-light) 12%,
    var(--gradient-color-1) 13%,
    var(--gradient-color-2) 15%,
    var(--gradient-color-3) 60%,
    var(--gradient-color-4) 90%
  );

  transform: translate3d(-50%, -50%, 0px) scale(4);
  transition: height 600ms cubic-bezier(.75, .1, .89, .36),
    width 600ms cubic-bezier(.75, .1, .89, .36),
    transform 600ms cubic-bezier(.75, .1, .89, .36),
    opacity 700ms cubic-bezier(.9, .02, .97, .28);

}

#menu > #menu-gradient-blur {
  transition: opacity 600ms cubic-bezier(.87, .12, .92, .39);
}

#menu > #menu-arcs-wrapper {
  transform: scale(1.15) translate3d(20%, 20%, 0px);
  transition: transform 600ms cubic-bezier(.87, .12, .92, .39), 
    opacity 600ms cubic-bezier(.87, .12, .92, .39);  
}

#menu > #menu-arcs-wrapper > #menu-arcs {
  animation: arc-rotation 100s linear infinite;
}

#menu > #menu-arcs-wrapper > #menu-arcs > .menu-arc {
  stroke-dasharray: 2,10;
}

link:hover > .label {
  transform: translate3d(6%, 0px, 0px);
}

#menu > #menu-links > .link:hover > .index {
  transform: translate3d(20%, 0px, 0px);
}

#menu > #menu-links > .link:hover > .anchor:before {
  opacity: 0.15;
  transform: translate3d(-50%, -50%, 0px) scale(1.5);
}

#menu > #menu-links > .link:hover > .anchor:after {
  border-color: red;
  transform: translate3d(-50%, -50%, 0px) scale(1.1);
}



#menu > #menu-links > .link > .anchor:before,
#menu > #menu-links > .link > .anchor:after {
  content: "";
  height: 300%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  transition: transform 250ms, border-color 250ms;
  width: 300%;
}

#menu > #menu-links > .link > .anchor:before {
  border: 1px solid red;  
  opacity: 0;
}

#menu > #menu-links > .link > .anchor:after {
  border: 1px solid rgba(255, 255, 255, 0.5);
}



@media (min-width: 1000px) and (max-width: 2699px) {  
  #body-div.menu-toggled > #menu > #menu-links > .link {
    transition: transform 400ms cubic-bezier(.16, .68, .25, .83), 
      opacity 500ms cubic-bezier(.87, .12, .92, .39);  
  }
  
  #menu > #menu-gradient {
    transform: translate3d(-50%, -50%, 0px) scale(8);
  }
  
  #menu > #menu-links > .link {
    position: absolute;
    transform: translate3d(300%, 800%, 0px) scale(1.25);
    transition: transform 500ms cubic-bezier(.62, .16, .86, .45), 
      opacity 400ms cubic-bezier(.16, .68, .25, .83);
  }
  
  #menu > #menu-links > .link > .anchor {
    top: 0%;
    transform: translate3d(-350%, -100%, 0px) rotate(45deg);
  }
  
  #menu > #menu-links > .link:first-of-type {
    left: 29.8vmax;
    top: 22vmax;
  }
}

@media (min-width: 1000px) and (max-width: 2099px) {
  #menu > #menu-links > .link:nth-of-type(2) {
    left: 46.4vmax;
    top: 16vmax;
  }

  #menu > #menu-links > .link:nth-of-type(3) {
    left: 28vmax;
    top: 40vmax;
  }

  #menu > #menu-links > .link:nth-of-type(4) {
    left: 68.5vmax;
    top: 10vmax;
  }

  #menu > #menu-links > .link:nth-of-type(5) {
    left: 64.4vmax;
    top: 25.2vmax;
  }

  #menu > #menu-links > .link:nth-of-type(6) {
    left: 55.5vmax;
    top: 41.2vmax;
  }

  #menu > #menu-links > .link:nth-of-type(7) {
    left: 85vmax;
    top: 6.1vmax;
  }

  #menu > #menu-links > .link:nth-of-type(8) {
    left: 82.3vmax;
    top: 22vmax;
  }

  #menu > #menu-links > .link:nth-of-type(9) {
    left: 75vmax;
    top: 40.2vmax;
  }
}

@media (min-width: 2100px) and (max-width: 2699px) {
  #menu > #menu-links > .link:nth-of-type(2) {
    left: 28vmax;
    top: 40vmax;
  }

  #menu > #menu-links > .link:nth-of-type(3) {
    left: 68.9vmax;
    top: 6vmax;
  }

  #menu > #menu-links > .link:nth-of-type(4) {
    left: 63.2vmax;
    top: 28vmax;
  }
  #menu > #menu-links > .link:nth-of-type(5) {
    left: 61.6vmax;
    top: 31.4vmax;
  }

  #menu > #menu-links > .link:nth-of-type(6) {
    left: 60vmax;
    top: 34.5vmax;
  }

  #menu > #menu-links > .link:nth-of-type(7) {
    left: 58vmax;
    top: 37.5vmax;
  }
  #menu > #menu-links > .link:nth-of-type(8) {
    left: 83.2vmax;
    top: 18.6vmax;
  }

  #menu > #menu-links > .link:nth-of-type(9) {
    left: 91vmax;
    top: 44vmax;
  }


}