@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {}

.bloom {
  text-shadow:
    0 0 60px 30px #fff,
}

.bloom-cursor {
  box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.5),
    0px 0px 10px 2px rgb(255, 255, 255);
}

.js_pointer {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out
}


.js_pointer.is_visible {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  pointer-events: none
}

.js_pointer.is_show {
  opacity: 1;
  -webkit-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out
}

html.device-touch .js_pointer {
  display: none !important
}

.js_pointer_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
}

.js_pointer_body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 150px;
  -webkit-transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
  opacity: 0.9;
  background: #eee;
  contain: strict;
}

.js_pointer_arw {
  position: absolute;
  left: 0;
  top: 0;
  contain: layout size;
  display: none;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out
}

.html_noCursor .js_pointer_arw {
  display: none !important
}

.js_pointer[data-area-mode="h"] .js_pointer_arw,
.js_pointer[data-area-mode="v"] .js_pointer_arw {
  display: block
}

.js_pointer.is_hover .js_pointer_arw,
.js_pointer.is_weakHover .js_pointer_arw {
  visibility: hidden
}

.html_dragging .js_pointer_arw {
  display: none !important
}

.html_onTransition .js_pointer_arw,
.js_pointer[data-area-dir="0"] .js_pointer_arw {
  opacity: 0
}

.js_pointer_arwInner {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 300ms cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 300ms cubic-bezier(0.77, 0, 0.175, 1)
}

.js_pointer[data-area-mode="h"][data-area-dir="-1"] .js_pointer_arwInner {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 50%
}

.js_pointer[data-area-mode="v"] .js_pointer_arwInner {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.js_pointer[data-area-mode="v"][data-area-dir="-1"] .js_pointer_arwInner {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.js_pointer_arwBody {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  margin-top: -32px;
  margin-left: 28px;
  opacity: 0.9
}

.js_pointer_arwBody svg {
  fill: #eee
}