@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }  
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tabbody {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.tabbody.visible {
  opacity: 1;
}





.particle {
  opacity: 0;
}

@media (max-width: 900px) {
  .card-text-responsive {
    display: none;
  }
}



blockquote {
    /* font-family: Georgia, serif; */
    font-family: D-DIN;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}



@font-face {
  font-family: Inter;
  src: url(/fonts/Inter.ttf) format('truetype');
}
@font-face {
  font-family: D-DIN;
  src: url(/fonts/D-DIN.otf) format('opentype');
}


/* span {  font-family: Nova;  } */
h1, h2, h3, h4, h5, h6, a, span {
  font-family: D-DIN;
}

p, .inter {
  font-family: Inter;
}
@media (max-height: 1080px) and (max-width: 1920px) {
  #quote {
    display: none;	
  }

}


/* this is for the space nav */


.scrollbar-minimalist::-webkit-scrollbar {
  width: 20px;
}

.scrollbar-minimalist::-webkit-scrollbar-track {
  background-color: black;
	
}

.scrollbar-minimalist::-webkit-scrollbar-thumb {
  background-color: #313131;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
}

.scrollbar-minimalist::-webkit-scrollbar-thumb:hover {
  background-color: #686f9a;
}


/* Webkit date input fields wrapper */
input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  background-color: transparent;
}

/* Webkit date input text style */
input[type="date"]::-webkit-datetime-edit-text {
  color: white;
}

/* Webkit date input month field */
input[type="date"]::-webkit-datetime-edit-month-field {
  color: white;
}

/* Webkit date input day field */
input[type="date"]::-webkit-datetime-edit-day-field {
  color: white;
}

/* Webkit date input year field */
input[type="date"]::-webkit-datetime-edit-year-field {
  color: white;
}

/* Webkit inner spin button */
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Webkit calendar picker indicator */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: transparent; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
}

input[type="checkbox"], 
input[type="radio"] {
  display: none;
}
.accordion input[type="checkbox"]:checked + label + .content, 
.accordion input[type="radio"]:checked + label + .content {
  max-height: 40rem;
  padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked + label::after, 
.accordion input[type="radio"]:checked + label::after {
  content: '-';
}
.accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

